@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: rgb(235, 235, 235);
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

.heading > h2, .heading > p {
    margin: 0;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 320px;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px #333;
    background-color: white;
    border-radius: 5px;
}

#supervisor {
    border-top: 3px solid cyan;
}

#team {
    border-top: 3px solid red;
}

#karma {
    border-top: 3px solid yellow;
}

#calculator {
    border-top: 3px solid blue;
}

@media only screen and (max-width: 992px){
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 440px){
    .box {
        width: 280px;
        margin: 20px;
        padding: 20px;
        box-shadow: 5px 5px 10px #333;
        background-color: white;
        border-radius: 5px;
    }
}